$user:#FF595A;
$font:white;
$bgColorTwo:rgb(0,18,51);
$mainFont: #f2f7a1;


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;     
}
  .main {
    background: $bgColorTwo;
    color: $font;   
    width: 100%;
    margin: auto;      
      }
  .line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
.plan_btn{
  border-radius: 50%;
  padding:1%;
}
.school-logo {
  max-width: 50px;
  max-height: 50px; 
  width: auto;
  height: auto;
  border-radius: 50%;
}
.view_btn{
  width: 60%;
  margin: auto;
}
.active{
  background: $font;
  color: #088395;
  text-decoration: none;
 text-align: center;
 link{
  color: #088395;
 }
}
.de-active{
  background:#088395;
  color: $font;
  text-decoration: none;
}
.lock-btn{
  background: #413790;
  color: white;
  border-radius: 60px;
  border: 1px solid #413790;;
}